body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(css-folder/sa7.jpg);
    background-size: cover;
}

.enter {
    display: flex;
    display: inline-block;
    text-decoration: none;
    font-size: 170%;
    position: relative;
    text-align: center;
    align-items: center;
    top: -0.2em;
    left: 2.6em;
    color: black;
}

.enter:hover {
    top: -0.3em;
    transition-duration: 0.3s;
}

.wrapper {
    position: relative;
    width: 250px;
    height: 20px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    border-radius: 50px;
    padding: 30px 40px;
    border: 2px solid rgba(0, 0, 0, .1);
    margin-top: 400px;
    align-items: center;
}